.event.card {
  margin: 1%;
  margin-bottom: 3%;
  line-height: 1.2;

  a {
    color: var(--main-color);
  }


  .card-end {
    text-align: right;
    width: 100%;
    .date, .toolbar {
      display: inline-block;
      padding: 0.3rem;
    }
  }


  
  .toolbar {
    text-align: right;
    a {
      margin-right: 10px;
    }
  }

  .card-body {
    margin: 0.1vw;
    padding: 0;

    .title {
      margin: 0vw;
      display: block;
      font-weight: bold;
      font-style: italic;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  @media (max-width: 800px) {
    .toolbar {
      text-align: left;
      .fa {
        font-size: 1.7em;
        letter-spacing: 0.2em;
      }
    }
  }
}

