.event.card {
  height: 18rem;

  .title {
    margin-bottom: 5px;
    display: block;
  }

  position: relative;
  
  .toolbar {
    position: absolute;
    right: 1%;
    bottom: 2%;
  }

  .card-body {
    padding: 0.6rem;
  }
}