.event.card {
  margin: 1%;
  margin-bottom: 3%;

  a {
    color: var(--main-color);
  }
  .title {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 4.8rem;
  }

  .card-end {
    text-align: right;
    width: 100%;
    .date, .toolbar {
      display: inline-block;
      padding: 0.3rem;
    }
  }


  
  .toolbar {
    text-align: right;
    a {
      margin-right: 10px;
    }
  }

  .card-body {
    padding: 0.6rem;
  }

  @media (max-width: 800px) {
    .toolbar {
      text-align: left;
      .fa {
        font-size: 1.7em;
        letter-spacing: 0.2em;
      }
    }
  }
}

