main {
  margin-left: 2%;
  margin-right: 2%;
}

#welcome {
  padding-left: 0;
  padding-right: 0;
  user-select: none;
  position: relative;
  

  .carousel-indicators {
    bottom: 8%;
  }

  .carousel-item > img {
    // prevent initial page flickering
    min-height: 41vw;
  }
  .carousel-caption {
    // font-family: IM Fell English SC;
    font-style: italic;
    letter-spacing: 0.12em;
    border-radius: 10px;
    left: 20%;
    right: 20%;
    bottom: 10%;
    opacity: 0.7;
    background-color: #000 !important;
    * {
      font-weight: 400;
    }
  }

  .carousel-taint {
    filter: SATURATE(1.3) CONTRAST(1.2) brightness(0.8);
  }

  .scroll-button {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }

  .aisc-intro {
    // text-shadow: 0.2vw 0.3vw 0.7vw #222;
    filter: drop-shadow(0.2vw 0.3vw 0.3vw #000);
    // background: -webkit-linear-gradient(45deg, #fcf9d4, #d8ca5c 80%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    position: absolute;
    bottom: 11vw;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    color: #fff;
    a {
      color: #5a5a5a;
    }

    @media (max-width: 768px) {
      text-shadow: 0.2vw 0.2vw 0.2vw #000;
    }

    .formerly {
      font-size: 1.5vw;
      // font-family: IM Fell English SC;
      @media (max-width: 768px) {
        font-size: 5vw;
      }
    }
  

    .title {
      font-family: IM Fell English SC;
      font-size: 5vw;
      letter-spacing: 0.1em;
      font-weight: bold;
      // text-transform: uppercase;
      // font-style: italic;
      /* border-top-style: solid;
      border-top-width: 7px; */
      /* padding-bottom: 30px; */
      /* border-bottom-style: solid; */
      /* border-bottom-width: 2px; */
      text-align: center;
      @media (max-width: 768px) {
        font-size: 7.5vw;
      }
    }

    .abstract, .authors {
      max-width: 650px;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

section.about-aisc {
  margin-top: 4rem;
  text-align: center;
  .lead {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

section#events {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  .all-upcoming {
    margin-top: 4rem;
  }
}

section.by-subjects {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}