.top-go-back-link {
  margin-left: 0;
  color: #fff;
  font-size: 6rem;
  margin-right: 1rem;
}

.single-event {

  .youtube-thumb-outer {
    display: inline-block;
  }
  
  margin-top: 1rem; 
  .title-info {
    margin: 0.7rem;
    h1 {
      &.inline {
        display: inline;
      }
      a {
        color: #5a5a5a;
      }
    }  
  }

  .info-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


  .empty-info {
    padding: 7rem;
    user-select: none;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    position: relative;
    p {
      color: white;

    }
    .background {
      position: absolute;
      top: 0; left:0; right: 0;bottom: 0;
      background-image: url(/static/images/logo-medium.png);
      background-color: black;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      filter: blur(7px) brightness(50%);
      z-index: -1;
    }
  }

  .subscribe-youtube {
    // margin-top: 1em;
    .fa {
      font-size: 1.3em;
    }
  }

  .artifact-list {
    li {
      margin-top: 0.2rem;
    }
    margin-top: 1rem;
    a {
      color: #5a5a5a;
    }
  }

  .live-chat.btn .fa.indicator:before {   
    content: "\f139";
  }
  
  .live-chat.btn.collapsed .fa.indicator:before {
    content: "\f13a";
  }
}
