
.main-navbar {
  .bg-dark {
    background-color:#111 !important;
  }
  > .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav-item a {
    color: black;
    font-weight: 500;
    letter-spacing: 0.07em;
  }
  .dropdown-menu a {
    color: black;
  }

  .logo {
    height: 50px;
    width: auto;
    filter: drop-shadow(1px 1px 1px #333);
  }
  
}

.navbar {
  padding-left: 3rem;
  padding-right: 3rem;
}

.social-buttons.mobile {
    display: none;
}

@media (max-width: 768px) {
  .social-buttons.mobile {
    position: fixed;
    bottom: 0;
    display: block;
    z-index: 2;
    font-size: 1em;
    line-height: 1;
    width: 100%;
    text-align: center;
    a {
      text-shadow: 2px 2px 30px #bbb;
    }
  }
}

@media (max-width: 430px) {
  .navbar {
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 768px) {
    .social-buttons.desktop {
        display: none;
    }
}

.social-buttons {
    a {
        color: #acacac;
    }
}

