@import "../scss/variables.scss";

#team {
  .credentials {
    font-size: 80%;
  }

.team-title {
  color: $gray-600;
}

.team-subtitle {
  color: $primary-shade-3;
}
}

.social {
  i {
    color: white;
  }
}
