@import '../scss/variables';

.key-dates {
  .past {
    text-decoration: line-through;
    background-color: $gray-200;
  }
}

.yt-thumb-edit-img {
  width: 100%;
  height: auto;
}

.yt-thumb-edit {
  max-width: 6vw;
}