main {
  margin-left: 2%;
  margin-right: 2%;
}

#welcome {
  padding-left: 0;
  padding-right: 0;
  user-select: none;
  position: relative;

  .carousel-indicators {
    bottom: 8%;
  }

  .carousel-item > img {
    // prevent initial page flickering
    min-height: 41vw;
  }
  .carousel-caption {
    font-style: italic;
    letter-spacing: 0.12em;
    border-radius: 10px;
    bottom: 10%;
    opacity: 0.7;
    background-color: #000 !important;
  }

  .carousel-taint {
    filter: sepia(80%) SATURATE(1.6) CONTRAST(1.2) brightness(0.8) blur(0.05vw);
  }

  .scroll-button {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }

  .tdls-intro {
    text-shadow: 0.3vh 0.3vh 1.5vh #222;
    position: absolute;
    bottom: 15vw;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    color: #fff;
    a {
      color: #5a5a5a;
    }

    .title {
      /* font-family: serif; */
      font-size: 4.6vw;
      font-weight: bold;
      font-style: italic;
      /* border-top-style: solid;
      border-top-width: 7px; */
      /* padding-bottom: 30px; */
      /* border-bottom-style: solid; */
      /* border-bottom-width: 2px; */
      text-align: center;
    }

    .abstract, .authors {
      max-width: 650px;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

section.about-tdls {
  margin-top: 4rem;
  text-align: center;
  .lead {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

section#events {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  .all-upcoming {
    margin-top: 4rem;
  }
}

section.by-subjects {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}