.top-go-back-link {
  margin-left: -1.4rem;
  color: #5a5a5a;
  font-size: 3em;
  margin-right: 1rem;
}

.single-event {
  margin-top: 1rem; 
  .title-info {
    margin: 0.7rem;
    h1 {
      &.inline {
        display: inline;
      }
      a {
        color: #5a5a5a;
      }
    }  
  }

  .info-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


  .empty-info {
    padding: 3rem;
    user-select: none;
    background-color: #eee;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
  }

  .subscribe-youtube {
    // margin-top: 1em;
    .fa {
      font-size: 1.3em;
    }
  }

  .artifact-list {
    li {
      margin-top: 0.2rem;
    }
    margin-top: 1rem;
    a {
      color: #5a5a5a;
    }
  }
}
